{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <div class="media-block2">
        <div class="video2">
            <video class="video-media2" src="{% static 'main/video/login-video.mp4' %}" autoplay muted loop></video>
        </div>
        <div class="container2">
            <div class="map-container2">
                <form id="appointment" action="{% url 'appointments' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <div>
                            Номер телефона:
                        </div>

                        <input type="tel" name="tel">
                    </div>
                    <div>
                        <div>
                            Доктор:
                        </div>
                        <select id="doc_id" name="doc_id" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg">
                            {% for doctor in doctors %}
                                <option value="{{ doctor.id }}">{{ doctor.surname }} {{ doctor.name }} {{ doctor.patronymic }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>
                            <input id="calendar" type="date" name="calendar" min="{{ min_date }}" max="{{ lastdate }}"
                                   value="{{ min_date }}">
                        </label>
                    </div>
                    <div>
                        <label>
                            <select id="time" name="time">
                                {% for time in all_time %}
                                    <option value="{{ time }}">{{ time }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="Записаться">
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#calendar, #doc_id').on('change', function (e) {
                let date = $('#calendar').val();
                let doc_id = $('#doc_id').val();
                $.ajax({
                    url: "{% url 'get_free_time' %}",
                    method: 'get',
                    data: {
                        doc_id: doc_id,
                        date: date
                    },
                    success: function (data) {
                        $('#time').html(data)
                    }
                });
            });
        });
    </script>

{% endblock %}