{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}">
</head>
<body>
<div class="page">
    <div class="header">
        <div class="name">
            <h1><a href="{% url 'home' %}">K&R CLINIC</a></h1>
        </div>
        <div class="start-menu">
            <div class="contact-org">
                <img class="contact-icon" src="../../static/main/img/phone.svg" width="32" height="32">
                555-2368
            </div>
            <a href="{% url 'about' %}">
                <div class="information">
                    <img class="information-icon" src="../../static/main/img/information.svg" width="32" height="32">
                    Information
                </div>
            </a>
            {#TODO: add link for doctors profiles pages #}
            <div class="doctors">
                <img class="doctors-icon" src="../../static/main/img/doctors.svg" width="32" height="32">
                Our doctors
            </div>
            {# TODO: add link for appoinments page  #}
            <div class="appointments">
                <img class="appointment-icon" src="../../static/main/img/appointment.svg" width="32" height="32">
                Request appointments
            </div>
            {# TODO: unite icon and text for link #}
            <div class="log-stuff">
                <img class="contact" src="../../static/main/img/log.svg" width="32" height="32">
                {% if 'id_user' not in session %}
                    <a href="{% url 'login' %}" class="login"> Login</a>
                {% else %}
                    <a href="{% url 'logout' %}" class="logout"> Logout</a>
                    {# если нажать не залогиненным на "информация, то при переходе отображается logout, как будто мы были залогинены #}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="video-content">
        {% block video %}{% endblock %}
    </div>
    <div class="news-content">
        {% block news %}{% endblock %}
    </div>
    {% block content %}{% endblock %}

    <div class="sticky-top col-md-3 navigation">
        <ul class="sticky-top">
            {% if 'id_user' in session %}
                <li><h1>Привет, {{ session.id_user }}</h1></li>
            {% else %}
                <li><h1>OURSITE</h1></li>
            {% endif %}
            <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Главная</a></li>
            <li><a href="{% url 'about' %}"><i class="fas fa-question"></i> Информация</a></li>
            {% if 'id_user' not in session %}
                <li><a href="{% url 'login' %}"><i class="fas fa-user"></i> Войти</a></li>
            {% else %}
                <li><a href="{% url 'logout' %}"><i class="fas fa-bell"></i> Выход</a></li>
            {% endif %}
        </ul>
    </div>
</div>
</body>
</html>