{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <div class="media-block2">
        <div class="video2">
            <video class="video-media2" src="{% static 'main/video/login-video.mp4' %}" autoplay muted loop></video>
        </div>
        <div class="container2">
            <div class="map-container2">
                <div class="block-auth">
                    <h2>Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        <label>
                            Email <input type="text" name="email">
                        </label>
                        <label>
                            Password <input type="password" name="password">
                        </label>
                        <button type="submit">Login</button>
                        <p style="color: red">{{ error }}</p>
                    </form>
                    <a href="{% url 'register' %}">Register</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}